body{
    background-color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.common {
    background-color: #cccccc;
    border: 2px solid white;
    position: absolute;

}
.header {
    Top: 5px;
    Left: 5px;
    Right: 5px;
    height: 100px;
    z-index: 2;
}

.leftmenu {
    top: 114px;
    left: 5px;
    width: 100px;
    bottom: 39px;
    z-index: 1;
    padding-top: 40;

}
.mainbody{
    Top: 114px;
    left: 114px;
    right: 114px;
    bottom: 39px;
}
.rightmenu{
    top: 114px;
    right: 5px;
    width: 100px;
    bottom: 39px;

}

.footer {
    bottom: 5px;
    Left: 5px;
    right: 5px;
    height: 25px;
    font-size: 8px;
    color: #999999;
    text-align: centre;
    padding-top: 15px;


}
.subheader{
    float: right;
}